#Multiple Regression Linear Model
library(plm)
pdata2 <- pdata.frame(IPM_17_19,index = c("ID","Tahun"))
modelpanel1<-plm(IPM~TPAK+APSMA+PRTSL+PDRB+PPM+KP+
                   t2018+t2019,data=pdata2,model="pooling")
#Assumptions check
library(lmtest)
library(nortest)
lillie.test(resid(modelpanel1))
bptest(modelpanel1, studentize = T)
pdwtest(modelpanel1)

#Weight matrix
library(rgdal)
library(spdep)
x <-readOGR("C:/Users/witaa/Downloads/Jawa(1)/Jawa/jawa.shp", stringsAsFactors=FALSE)
jateng1 <- subset(x, NAMA_PROP == "JAWA TENGAH")
jateng_nb <- poly2nb(jateng1,row.names = seq(1,35),queen = FALSE)
plot(jateng1, col="white", border="grey")
plot(jateng_nb, coordinates(jateng1), col="red", add=TRUE)
jateng2<-as.data.frame(jateng1)
text(coordinates(jateng1), labels=jateng2$NAMA_KAB,cex=0.7, col="blue")
W2<-nb2listw(jateng_nb, style="W",zero.policy=TRUE)

#Spatial Panel Data Lag Model
library(splm)
mp<- IPM~TPAK+APSMA+PRTSL+PDRB+PPM+KP+t2018+t2019
modelsar<-spml(mp,data=pdata2,listw=W2,model="within",
               lag=TRUE, spatial.error="none")
summary(modelsar)

#Spatial Panel Data Error Model
modelsem<-spml(mp,data=pdata2,listw=W2,model="within",
               lag=FALSE,spatial.error="b")
summary(modelsem)
effects(modelsar)
